#keyboard {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    align-items: center;
  }
  
  .rowTwo{
    margin: 0.5rem;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    cursor: pointer;
  }