<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Guessle Reset Password Page</title>

        <link rel="stylesheet" href="/Public/css/welcomeStyle.css">
    </head>
    <body>
        <div class="heading">Guessle Game</div>
        <br>
        <form class = "detail-box" action = "forgotPasswordPage">
            <br>
            <h3>
                FORGOT PASSWORD
            </h3>

            <input type = "text" name="" placeholder="Enter Username" id = "playerUsername">
            <input type = "email" name="" placeholder="Enter Email" id = "playerEmail">
           
            <button type="submit" id="submitButton">Submit</button>
        </form>
        <script defer type="module" src="/Public/Script/forgotPassword.js"></script>
    </body>
</html>