<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Guessle Login Page</title>

        <link rel="stylesheet" href="/Public/css/welcomeStyle.css">
    </head>
    <body>
        <script type="text/javascript" src="../../Public/Script/guessleHome.js"></script>
        <div class="heading">Guessle Game</div>
        <br>
        <br>
        <div>
            <button onclick= "instructions()" id="instructionBtn">Instructions</button>
            <div id="instructionList" style="display: none;">
                You have six chances to guess the six-letter word.
    
                Make your guess by typing your guess in the blocks provided and select Enter.
                
                Letter tiles turn green for correct letter in correct place. Letter tiles turn yellow for correct letter in incorrect place. Letter tiles trun grey for incorrect letters
             </div>
        </div>  
        <br>
        <form class = "" id = "single_id">
            <input type="button" value = "Single Player" id="singlePlayerButton" onclick = "ToSinglePlayerPage()">
        </form>
        <br>
        <form class = "" id = "multi_id">
            <input type="button" value ="Multiple Players" id="multiPlayerButton" onclick = "ToMultiPlayerPage()">
        </form>
        <br>
        <form class = "" id = "logout_id">
            <input type="button" value = "Logout >:(" id="logoutButton" onclick = "ToLoginPage()">
        </form>
        
    </body>
</html>