<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Guessle Login Page</title>

        <link rel="stylesheet" href="../../Public/css/welcomeStyle.css">
    </head>
    <body>
        <div class="heading">Guessle Game</div>
        <br>
        <form class = "detail-box" action = "loginPage.html"
            <br>
            <h3>
                WELCOME
            </h3>

            <input type = "text" name="" placeholder="Enter Username" id = "playerUsername">
            <input type = "password" name="" placeholder="Enter Password" id = "playerPassword">
            <button type="submit" id="loginButton">Login</button>
        </form>
        <script defer type="module" src="login.js"></script>
    </body>
</html>