<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Guessle Login Page</title>
        <meta name = 'viewport',content = 'width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="/Public/css/welcomeStyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../Public/Script/login.js"></script>
        <div class="heading"> Guessle Game</div>
        <br>
        <div class="container">

            <form class = "form-inline" role='form' id = "form_id" >
                
                <h3 class="text-danger">
                    WELCOME
                </h3>
                <h4 class="text-danger">
                    Log in or Sign up
                </h4>
                <div>
                    <input type = "text" class="form-control" name="" placeholder="Enter Username" id = "playerUsername">
                    <input type = "password" class="form-control" name="" placeholder="Enter Password" id = "playerPassword">
                </div>
                
                <br>
                <input type="button" class="btn-primary" value = "Log in" onclick = "Validation()">
                <h4 class="text-danger">
                    If you have not registered before, just sign up below
                </h4>
                <input type="button" class="btn-primary" value = "Sign up" onclick = "Signup()">
                <h4 class="text-danger">
                    Or log in as Guest
                </h4>
                <input type="button" class="btn-primary" value = "Log in as guest" onclick = "GuestLogin()">
                    
        </form>
        
        </div>
        

    </body>
</html>
