<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guessle</title>

        <link rel="stylesheet" type="text/css" href="/Public/css/style.css">
    </head>
    <body>
        <h1> Game Modes </h1>  


        <form id = "multiMenu" class="menu-container">
            <p id="WIP-Text">Multiplayer is currently a Work In Progress. The Buttons are place holders. Please come again later</p>
            <p id="random-Mode-Description">Single Word mode: Players race against eachother to see who can figure out what the mystery word is. Players can monitor eachothers boards and progress but not the letters themselves</p>    
            <p id="Choose-Description">The Choose a Word mode: Players must give a random word that is the given to another player in the lobby. Players must guess their given word before the others to win</p>
            <button type="button" class="Single-Word" id="SingleModeButton">Single Word Mode</button>
            <button type="button" class="Choose-a-Word" id="ChooseWordModeButton">Choose a Word Mode</button>    
        </form>
    </body>

</html>