<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guessle</title>

        <link rel="stylesheet" type="text/css" href="/Public/css/style.css">
    </head>
    <body>
        <script type="text/javascript" src="../../Public/Script/multiplayer.js"></script>
        <h1> Guessle Game </h1>
        <h1> Game Modes </h1>  

        <form class = "menu-container" id = "multiPlayer_id">
            <p id="random-Mode-Description">Single Word mode: Players race against eachother to see who can figure out what the mystery word is. Players can monitor eachothers boards and progress but not the letters themselves</p>    
            <p id="Choose-Description">The Choose a Word mode: Players must give a random word that is the given to another player in the lobby. Players must guess their given word before the others to win</p>
            <input type="button" class="Single-Word" value ="Single-Word" id="multiPlayerGameButton" onclick = "ToMultiPlayerGamePage()">
            <input type="button" class="Choose-a-Word" value ="Choose-a-Word" id="multiPlayerGameButton" onclick = "ToMultiPlayerGamePage()">
        </form>
       
    </body>

</html>