<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guessle</title>

        <link rel="stylesheet" type="text/css" href="/cdn/css/style.css">
    </head>
    <body>
        <h1> Guessle Game </h1>
        
        <div id="game-board">

        </div>
        <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <script type="module" src="/cdn/Script/boardScript.js" ></script>
        <script type="module" src="/cdn/Script/inputLetters.js"></script>
    <div id="currentBlock"></div>
    </body>
</html>