h1 {
    text-align: center;
   }

   #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid grey;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }


  #Onscreen-keyboard{
    margin: 1rem 0; 
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  
  .Row2 {
    margin: 0.5rem 0;
  }
  
  .Onscreen-keyboard-button {
   cursor: pointer; 
    font-size: 1rem;
    margin: 0 2px;
    padding: 0.5rem;
    font-weight: 700;
  }