<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Guessle Sign Up Page</title>
        <meta name = 'viewport',content = 'width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="/Public/css/welcomeStyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <div class="heading">Guessle Game</div>
        <br>
        <form class = "detail-box" action = "/Log">
            <br>
            <h3>
                View game log
            </h3>

            <input type = "text" name="" placeholder="Enter Game ID" id = "gameID">
            <input type="button" class="Submit" value ="Submit" id="logSubmit" method="POST"  action="/Log">
        </form>
        <script defer type="module" src="/Public/Script/gameLog.js"></script>
    </body>
</html>