<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Guessle Login Page</title>
        <meta name = 'viewport',content = 'width=device-width, initial-scale=1'>
        <title>Guessle Login Page</title>
        <link rel="stylesheet" href="/Public/css/welcomeStyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../Public/Script/guessleHome.js"></script>
    </head>
    <body>
        
        <div class="heading">Guessle Game</div>S
        <br>
        <br>
        <div class="container">
            <button onclick= "instructions()" class="btn-primary" id="instructionBtn">Instructions</button>
            <div id="instructionList" class="btn-primary" style="display: none;">
                <p class="text-danger">
                You have six chances to guess the six-letter word.
    
                Make your guess by typing your guess in the blocks provided and select Enter.
                
                Letter tiles turn green for correct letter in correct place. Letter tiles turn yellow for correct letter in incorrect place. Letter tiles trun grey for incorrect letters
                </p>
             </div>
        </div>  
        <br>

        <div class="container">
            <form class = "form-inline" id = "single_id">
                <input type="button" class="btn-primary" value = "Single Player" id="singlePlayerButton" onclick = ToSinglePlayerPage()>
            </form>
            <br>
            <form class = "form-inline" id = "multi_id">
                <input type="button" class="btn-primary" value ="Multiple Players" id="multiPlayerButton" onclick = ToMultiPlayerPage()>
            </form>
            <br>
            <form class = "form-inline" id = "logout_id">
                <input type="button" class="btn-primary" value = "Logout >:(" id="logoutButton" onclick = ToLoginPage()>
            </form>
        </div>
    </body>
</html>