<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Guessle</title>
        <meta name = 'viewport',content = 'width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="/Public/css/keyboardStyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="keyboard">
            <div class="rowOne">
                <button class="keyboard-button">Q</button>
                <button class="keyboard-button">W</button>
                <button class="keyboard-button">E</button>
                <button class="keyboard-button">R</button>
                <button class="keyboard-button">T</button>
                <button class="keyboard-button">Y</button>
                <button class="keyboard-button">U</button>
                <button class="keyboard-button">I</button>
                <button class="keyboard-button">O</button>
                <button class="keyboard-button">P</button>
            </div>
            <div class="rowTwo">
                <button class="keyboard-button">A</button>
                <button class="keyboard-button">S</button>
                <button class="keyboard-button">D</button>
                <button class="keyboard-button">F</button>
                <button class="keyboard-button">G</button>
                <button class="keyboard-button">H</button>
                <button class="keyboard-button">J</button>
                <button class="keyboard-button">K</button>
                <button class="keyboard-button">L</button>
            </div>
            <div class="rowThree">
                <button class="keyboard-button">Backspace</button>
                <button class="keyboard-button">Z</button>
                <button class="keyboard-button">X</button>
                <button class="keyboard-button">C</button>
                <button class="keyboard-button">V</button>
                <button class="keyboard-button">B</button>
                <button class="keyboard-button">N</button>
                <button class="keyboard-button">M</button>
                <button class="keyboard-button">Enter</button>
            </div>
        </div>
        <script defer type="module" src="keyboard.js"></script>
    </body>
</html>